<h3>Signup for Material Messenger</h3>
<h4 id="signup-subtext">Enter Username and Password</h4>
<%= usr.text_field( :user_name, :placeholder => "Username", :class => 'signup-entry' ) %><br>
<%= usr.text_field( :password, :placeholder => "Password", :class => 'signup-entry' ) %><br>
<%= usr.text_field( :display_name , :placeholder => "Display Name (optional)", :class => 'signup-entry' ) %><br>
<%= usr.submit( :id => 'signup-submit' ) %><span id="signup-shroud"></span>
