<h3>Signup for Material Messenger</h3>
<strong>Username: </strong> <%= usr.text_field :user_name %><br>
<strong>Password: </strong> <%= usr.text_field :password %><br>
<strong>Display Name(optional): </strong> <%= usr.text_field :display_name %><br>
<%= usr.submit %>
