doctype default
html
    head
        link(rel="stylesheet", href="style.min.css")
        script(src="../jquery-3.0.0.js")
        script(type="text/Javascript", src="script.js")
        title="Javascript Sandbox"
    body
        .forum
            p#greeting 
            .field
                li#username example@cms.com
                .entry-line
                li#password not123456!
                .entry-line
        .moldingBox
