doctype html
html
    head
        meta(name='viewport', content='width=device-width')
        link(href='style.css', rel='stylesheet')
    body
        #container
            #section-one
                h1 Nutrition Facts
                .line
                    span Serving Size
                    span 27 Crackers (30g)
                .line
                    span Servings Per Container
                    span About 6
            .seperator
            span#aps Amount Per Serving
            #section-two
                span Calories 150
                span Calories From Fat 70
            .seperator#skinny
            span#chart-header % Daily Value*
            ul#content-chart-a
                li.bold
                    | Total Fat
                    mark 8g
                    span 12
                    mark %
                    li.subitem#first-subitem Saturated Fat 2g
                        span 12
                        mark %
                    li.subitem
                        em Trans
                        |  Fat 0g
                    li.subitem Polyunsaturated Fat 4g
                    li.subitem Monounsaturated Fat 2g
                li.bold
                    | Colesterol
                    mark 0mg
                    span 0
                    mark %
                li.bold
                    | Sodium
                    mark 230mg
                    span 10
                    mark %
                li.bold
                    | Total Carbohydrate
                    mark 17g
                    span 6
                    mark %
                    li.subitem Dietary Fiber less than 1g
                        span 3
                        mark %
                    li.subitem Sugars 0g
                li.bold
                    | Protien
                    mark 3g
            .seperator
            ul#content-chart-b Vitamin A 2%
                li Vitamin C 0%
                li Calcium 4%
                li Iron 6%
            p
                | Percent Daily Values are based on a 2,000 valorie diet. Your daily values may be higher or lower depending on your calorie needs:
            ul#row-outlier
                li  
                li Calories
                li 2,000
                li 2,500
            table
                tr
                    td Total Fat
                    td Less than
                    td 65g
                    td 80g
                tr
                    td Sat. Fat
                    td Less than
                    td 20g
                    td 25g
                tr
                    td Colesterol
                    td Less than
                    td 300mg
                    td 300mg
                tr
                    td Sodium
                    td Less than
                    td 2,400mg
                    td 2,400mg
                tr
                    td Total Carbohydrate
                    td  
                    td 300g
                    td 375g
                tr
                    td Dietary Fiber
                    td  
                    td 25g
                    td 30g
            ul#content-chart-c Calories per gram: Fat 9
                li Carbohydrate 4
                li Protien 4
            #thick-total-width-separator
            p
                mark INGREDIENTS:
                |  ENRICHED FLOUR (WHEAT FLOUR, NIACIN, REDUCED IRON, THIAMIN MONONITRATE [VITAMIN B], RIBOFLAVIN [VITAMIN B], FOLIC ACID), VEGETABLE OIL (SOYBEAN AND PALM OIL WITH TBHQ FOR FRESHNESS), CHEESE MADE WITH SKIM MILK (SKIM MILK, WHEY PROTIEN, CHEESE CULTURES, SALT ENZYMES, ANNATTO EXTRACT FOR COLOR), CONTAINS TWO PERCENT OR LESS OF SALT, PAPRIKA, YEAST, PAPRIKA OLEDORESIN FOR COLOR, SOY LECITHIN.
            #thin-total-width-separator
            p.bold#disclaimer
                | CONTAINS WHEAT, MILK AND SOY INGREDIENTS.
