<body id="projects">
  <div id="pw-text-container">
    <h1 id="pw-header">Welcome to my projects</h1>
    <p id="pw-subtext">
      This is a broad term by design. These projects are small and some are <mark>only</mark> expressions of myself.<br>And so aren't organized in any particular fashion.
    </p>
  </div>
  <main>
    <div class="card right" id="nutrition-facts">
      <header>
        Nutrition Facts
      </header>
      <p>
        This is a small project that I created when I was practicing creating somewhat complex markup.
      </p>
      <%= react_component('WideButton', props = { href: core_nutrition_facts_url, width: 109, height: 59, margin: 0, background: 'white', text: 'Nutrition Facts' }) %>
    </div>
    <div class="card left" id="test">

    </div>
  </main>
</body>
