@font-face {
		font-family: 'slabo';
		src: url("file:../Vendors/Fonts/Slabo/Slabo-Regular.ttf") format("truetye");
}

@font-face {
		font-family: 'PT Sans';
		src: url("file:../Vendors/Fonts/PT_Sans/PT_Sans-Web-Regualr.ttf") format("truetye");
}

html, body {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		background-color: #c3c3c3;
		min-width: 100%;
}

html nav, body nav {
		height: 25px;
		min-height: 25px;
		width: 100%;
		min-width: 100%;
		background-color: rgba(21, 27, 128, 0);
		padding: 14px;
		position: fixed;
		z-index: 5;
		display: flex;
		justify-content: center;
}

html nav h3, body nav h3 {
		font: normal normal 19px 'slabo', monospace;
		font-weight: lighter;
		margin-top: 2px;
		color: white;
		opacity: 0;
}

html .button-ripple, body .button-ripple {
		height: 42px;
		width: 42px;
		position: fixed;
		display: inline-block;
		z-index: 7;
		margin-top: 6px;
		border-radius: 50%;
		background-color: #656565;
		opacity: 0;
}

html img#navButton, html img#githubButton, body img#navButton, body img#githubButton {
		height: 30px;
		width: 30px;
		position: fixed;
		display: inline-block;
		margin-top: 12px;
		margin-left: 12px;
		z-index: 6;
}

html #toTop, body #toTop {
		margin-left: 6px;
}

html #toTop:hover, body #toTop:hover {
		cursor: pointer;
}

html img#githubButton, body img#githubButton {
		margin-left: 96.5%;
		margin-right: 12px;
}

html span, body span {
		margin-top: 18px;
		margin-left: 84.7%;
		width: 200px;
		height: 17px;
		position: fixed;
		display: inline-block;
		z-index: 6;
		overflow: hidden;
}

html span p, body span p {
		margin-left: 210px;
		margin-top: 0;
		width: 200px;
		height: 17px;
		position: fixed;
		display: inline-block;
		z-index: 6;
		font: normal normal 16px helvetica, sans-serif;
		font-weight: 300;
		font-kerning: normal;
		letter-spacing: 1px;
		color: white;
}

html span p.triggered, body span p.triggered {
		animation-name: slideLeft;
		animation-duration: 1s;
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;
		animation-iteration-count: 1;
}

html span p.reset, body span p.reset {
		animation-name: slideRight;
		animation-duration: 1s;
		animation-timing-function: ease-in;
		animation-fill-mode: forwards;
		animation-iteration-count: 1;
}

html #github, body #github {
		margin-left: 96.1%;
		margin-right: 6px;
}

html #github:hover, body #github:hover {
		cursor: pointer;
}

html header, body header {
		height: 600px;
		width: 100%;
		min-width: 100%;
		background-image: url("images/bg.png");
		background-size: cover;
		text-align: center;
}

html header h1, body header h1 {
		position: relative;
		display: inline-block;
		padding-top: 200px;
		z-index: 0;
		color: white;
		font: normal normal 35px 'slabo', monospace;
}

html #card-stack, body #card-stack {
		width: 82%;
		min-width: 82%;
		height: auto;
		margin-top: -150px;
		margin-left: 9%;
		z-index: 2;
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
}

html #card-stack .section-card, body #card-stack .section-card {
		height: 700px;
		width: 80%;
		margin-bottom: 15px;
		background-color: white;
		border-radius: 7px;
		padding: 12px;
		display: flex;
		flex-wrap: wrap;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 1px 0 3px rgba(0, 0, 0, 0.12), -1px 0 3px rgba(0, 0, 0, 0.12);
		transition: all 0.2s ease-in-out;
}

html #card-stack .section-card:hover, body #card-stack .section-card:hover {
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 8px 0 10px rgba(0, 0, 0, 0.26), -8px 0 10px rgba(0, 0, 0, 0.26);
}

html #card-stack #card-one #intro-container, body #card-stack #card-one #intro-container {
		width: 100%;
		margin: 0;
		display: flex;
		flex-wrap: nowrap;
}

html #card-stack #card-one #intro-container img, body #card-stack #card-one #intro-container img {
		height: 245px;
		min-height: 245px;
		width: 245px;
		min-width: 245px;
		border-radius: 50%;
		margin-left: 5px;
		margin-top: 5px;
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.21);
}

html #card-stack #card-one #intro-container p, body #card-stack #card-one #intro-container p {
		margin-top: 30px;
		margin-left: 10px;
		text-align: left;
		font: normal normal 20px 'PT Sans', sans-serif;
}

html #card-stack #card-one #intro-container p mark, body #card-stack #card-one #intro-container p mark {
		text-shadow: 0 2px 1px rgba(0, 0, 0, 0.24);
		background-color: white;
		color: #666;
}

html #card-stack #card-one p:nth-last-of-type(1), body #card-stack #card-one p:nth-last-of-type(1) {
		margin: 10px 10px 10px 10px;
		text-align: center;
		font: normal normal 20px 'PT Sans', sans-serif;
}

html #card-stack #card-two button, body #card-stack #card-two button {
		font: bold normal 28px courier, sans-serif;
		padding: 12px 12px 12px 12px;
		height: 52px;
		border: none;
		border-radius: 4px;
		background-color: #ff4444;
		box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.25);
		transition: all ease-in-out 0.5s;
}

html #card-stack #card-two button:hover, body #card-stack #card-two button:hover {
		background-color: #f5f5f5;
		box-shadow: 0 10px 4px -5px rgba(0, 0, 0, 0.35);
}

html #card-stack #card-two button#clicked, body #card-stack #card-two button#clicked {
		animation-name: shrink-disappear;
		animation-duration: 3s;
		animation-fill-mode: forwards;
		animation-delay: 300ms;
		animation-timing-function: ease-in-out;
		animation-iteration-count: 1;
}

@keyframes slideLeft {
		0% {
				margin-left: 210%;
				opacity: 0;
		}
		85% {
				opacity: 0.7;
		}
		100% {
				margin-left: 0%;
				opacity: 1;
		}
}

@keyframes slideRight {
		0% {
				margin-left: 0%;
				opacity: 1;
		}
		15% {
				opacity: 0.3;
		}
		100% {
				margin-left: 210%;
				opacity: 0;
		}
}

@keyframes toBlack {
		0% {
				background-color: currentColor;
		}
		100% {
				background-color: black;
		}
}

@keyframes shrink-disappear {
		90% {
				transform: scaleX(20);
		}
		100% {
				transform: scaleY(0);
		}
}
