@font-face {
		font-family: slabo monospace;
		src: url("file:../Vendors/Fonts/Slabo/Slabo27px-Regular.ttf") format("truetype");
}

nav {
		height: 50px;
		width: 100%;
		margin: 0 0 0 0;
		background-color: rgba(117, 114, 114, 0);
		padding: 14px;
		position: fixed;
		display: block;
}

nav h3 {
		text-align: center;
		display: inline-block;
}

nav img {
		cursor: pointer;
		float: left;
		z-index: -2;
		display: inline-block;
}

nav #button-ripple {
		display: inline-block;
		float: left;
		background-color: #656565;
		height: 40px;
		width: 40px;
		border-radius: 20px;
		z-index: 1;
}

body {
		margin: 0 0 0 0;
		background-color: #c3c3c3;
		display: flex;
		flex-direction: column;
		justify-content: center;
}

body .section-1 {
		height: 700px;
		width: 300px;
		border-radius: 7px;
}
