<body id="login-container" class="mm-enforced">
  <div id="login-forum" class="mm-forum">
    <h3>Login to <mark>Material Messenger</mark></h3>
      <%= form_tag(:action => 'login') do %>
        <p id="user-name">Username:
          <%= text_field_tag(:user_name, nil,
            :class => [ 'mm-forum-entry', 'mm-login' ]) %>
        </p><br>
        <p id="password">Password:
          <%= password_field_tag(:password, nil,
            :class => [ 'mm-forum-entry', 'mm-login' ]) %>
        </p><br>
        <%= submit_tag('Login', :id => 'login-button', :class => 'mm-forum-button') %>
        <span id="login-shroud"></span>
      <% end %>
  </div>
</body>
<footer id="login-footer"></footer>
