<body id="login-container" class="mm-enforced">
  <div id="login-forum" class="forum">
      <%= react_component('LoginForum', html_options={prerender: true}) %>
  </div>
</body>
<footer id="login-footer"></footer>
