nts<body id="signup-container" class="mm-enforced">
  <div id="signup-forum" class="mm-forum">
    <%= react_component('SignupForum', html_options={prerender: true}) %>
  </div>
  <footer id="signup-footer">See our <a href="#">Terms and Conditions</a></footer>
</body>
