<!DOCTYPE html>
<html>
<head>
    <title>Charles Stevens, Portfolio</title>
    <%= stylesheet_link_tag params[:controller], 'data-turbolinks-track' => true %>
    <%= javascript_include_tag params[:controller], 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
