<body>
  <%= react_component('NavBar') %>
  <h1>A Man who wants to be a Programmer</h1>
  <%= image_tag('core/bg.png', :id => 'background') %>
  <%= react_component('Section',
    props = {  }) %>
</body>
