
doctype default
html
    head
        link(href="style.min.css", rel="stylesheet")
        title="Charles Stevens: Portfolio"
        script(type="text/Javascript", src="script.js")
    body
        .header-sect
            p#header-text|Chrales Stevens, Aspiring Programmer
        .main-sect
            .section-one
                .text-sect#one
                    |I've been working on several programming projects to develop my knowledge and to prove that I have such. The most notable being a derivative project from the requirements of a text adventure that is a real assignment by Boyd Trollinger at Butte Collage's CSCI programming class. This project is also the only one documented entirely on GitHub.
                .csnippet
                img(src="image.png", class="csnippet csnippet-a")
                button(id="jsportal", type="button") Goto Javascript
            .section-two
                .text-sect#two
