doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title A Material Messenger
        link(href='style.css', rel='stylesheet')
    body
        nav#navbar-container
            .button#menu
                .ripple#menu
            .button#settings
                .ripple#settings
            #searchbar
                img(id='search-icon', src='images/search_white.svg')
                h4 Search
            #conversation-title
            .button#compose
                .ripple#compose
            .button#about
                .ripple#about
    script(src='../Vendors/jquery-3.0.0.js')
    script(src='script.js', type='text/javascript')
