
doctype default
html
    head
        link(href="style.min.css", rel="stylesheet")
        title="Charles Stevens: Portfolio"
        script(src="../jquery-3.0.0.js")
        script(src="script.js")
    body
        #header-bar
            img(src="toTop.svg", id="toTopIcon")
            #button-ripple
            #header-bar-text|Charles Stevens, Aspiring Programmer
        .header-sect
            p#header-text|Chrales Stevens, Aspiring Programmer
        .main-sect
            .section-one.card
                img(src="self.png", class="selfPortrait")
                .text-sect-intro#line1
                    |I am Charles Stevens, an aspiring programmer.
                .text-sect-intro#line2
                    |I'm only seventeen and as such have learned far more lessons
                .text-sect-intro#line3
                    |in programming and project development than projects I have
                .text-sect-intro#line4
                    |completed or than anything useful that I've done.
                div#spreadlineDivider
                #spreadline1L
                span With the small amount of time that I have been in a position
                #spreadline1R
                div#spreadlineDivider
                #spreadline2L
                span to produce and project myself in my direction, independent of anyone else
                #spreadline2R
                div#spreadlineDivider
                #spreadline3L
                span I have learned a great deal more than most of my passing peers. I have chosen
                #spreadline3R
                div#spreadlineDivider
                #spreadline4L
                span to develop myself into a person with a flexible mindset, hungry for new and more relevant
                #spreadline4R
                div#spreadlineDivider
                #spreadline5L
                span knowledge whilst retaining a wide range of abilities.
                #spreadline5R
            .section-two.card
                .text-sect
                button(id="jsportal", type="button", href="../Javabox/javabox.html") Goto Sandbox
