doctype defult
html
    head
        link(href='style.css', rel='stylesheet')
        title="Charles, Stevens: Portfolio"
    body
        nav
            h3 Charles Stevens
        img(src='images/toTop_white.svg', id='navButton')
        .button-ripple#toTop
        img(src='images/github_white.svg', id='githubButton')
        span
            p View GitHub profile
        .button-ripple#github
        header
            h1 Charles Stevens, Aspiring Programmer
        <!--background elements here-->
        #card-stack
            .section-card#card-one 
                img(src='images/self.png')
                ul
                    li This is one line of text
                    li This is a second line of text
                    li This is a longer third line of text
                    li Now this is the final line
                br.spreadLineDivider
                #spreadline1L
                span
                #spreadline1R
                br.spreadLineDivider
                #spreadline2R
                span
                #spreadline2L
                br.spreadLineDivider
                #spreadline3R
                span
                #spreadline3L
                br.spreadLineDivider
                #spreadline4R
                span
                #spreadline4L
                br.spreadLineDivider
                #spreadline5R
                span
                #spreadline5L
            .section-card#card-two
                button(type='button', href='../Sandbox/main.html') Goto Sandbox
            .section-card#card-three
    script(src='../Vendors/jquery-3.0.0.js')
    script(src='../script.js', type='text/javascript')
