doctype defult
html
    head
        link(href='style.css', rel='stylesheet')
        title="Charles, Stevens: Portfolio"
        nav
            h3 Charles Stevens
            img(src='images/toTop.svg')
            #button-ripple
        header
            h1 Charles Stevens, Aspiring Programmer
    body
        .section-1.card
            img(src='images/self.png', id='selfPortrait')
            ul#intro
                li
                li
                li
                li
            br.spreadLineDivider
            #spreadline1L
            span
            #spreadline1R
            br.spreadLineDivider
            #spreadline2R
            span
            #spreadline2L
            br.spreadLineDivider
            #spreadline3R
            span
            #spreadline3L
            br.spreadLineDivider
            #spreadline4R
            span
            #spreadline4L
            br.spreadLineDivider
            #spreadline5R
            span
            #spreadline5L
        .section-2.card
            button(type='button', href='../Sandbox/main.html') Goto Sandbox
        .section-3.card
            
        script(src='../Vendors/jquery-3.0.0.js')
        script(stc='../script.js')
