@font-face
    font-family: 'slabo'
    src: url('file:../Vendors/Fonts/Slabo/Slabo-Regular.ttf') format('truetye')
@font-face
    font-family: 'PT Sans'
    src: url('file:../Vendors/Fonts/PT_Sans/PT_Sans-Web-Regualr.ttf') format('truetye')

html, body
    margin: 0 0 0 0
    padding: 0 0 0 0
    background-color: #c3c3c3
    min-width: 100%
    nav
        height: 25px
        min-height: 25px
        width: 100%
        min-width: 100%
        background-color: rgba(21, 27, 128, 0)
        padding: 14px
        position: fixed
        z-index: 5
        display: flex
        justify-content: center
        h3
            font: normal normal 19px 'slabo', monospace
            font-weight: lighter
            margin-top: 2px
            color: white
            opacity: 0
    .button-ripple
        height: 42px
        width: 42px
        position: fixed
        display: inline-block
        z-index: 7
        margin-top: 6px
        border-radius: 50%
        background-color: rgb(101, 101, 101)
        opacity: 0
        transition: all ease-in 0.1s
    img#navButton
        height: 30px
        width: 30px
        position: fixed
        display: inline-block
        margin-top: 12px
        margin-left: 12px
        z-index: 6
    #toTop
        margin-left: 6px
        &:hover
            cursor: pointer
            opacity: 0.4
    img#githubButton
        @extend #navButton
        margin-left: 96.5%
        margin-right: 12px
    span
        margin-top: 18px
        margin-left: 84.7%
        width: 200px
        height: 17px
        position: fixed
        display: inline-block
        z-index: 6
        overflow: hidden
        p
            margin-left: 210px
            margin-top: 0
            width: 200px
            height: 17px
            position: fixed
            display: inline-block
            z-index: 6
            font: normal normal 16px helvetica, sans-serif
            font-weight: 300
            font-kerning: normal
            letter-spacing: 1px
            color: white
            &.triggered
                animation-name: slideLeft
                animation-duration: 1s
                animation-timing-function: ease-in-out
                animation-fill-mode: forwards
                animation-iteration-count: 1
            &.reset
                animation-name: slideRight
                animation-duration: 1s
                animation-timing-function: ease-in
                animation-fill-mode: forwards
                animation-iteration-count: 1
    #github
        margin-left: 96.1%
        margin-right: 6px
        &:hover
            cursor: pointer
            opacity: 0.4
    header
        height: 600px
        width: 100%
        min-width: 100%
        background-image: url('images/bg.png')
        background-size: cover
        text-align: center
        h1
            position: relative
            display: inline-block
            padding-top: 200px
            z-index: 0
            color: white
            font: normal normal 35px 'slabo', monospace
    #card-stack
        width: 82%
        min-width: 82%
        height: auto
        margin-top: -150px
        margin-left: 9%
        z-index: 2
        position: absolute
        display: flex
        flex-direction: column
        align-items: center
        .section-card
            height: 700px
            width: 80%
            margin-bottom: 15px
            background-color: white
            border-radius: 7px
            padding: 12px
            display: flex
            flex-wrap: wrap
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 1px 0 3px rgba(0, 0, 0, 0.12), -1px 0 3px rgba(0, 0, 0, 0.12)
            transition: all 0.2s ease-in-out
        .section-card:hover
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 8px 0 10px rgba(0,0,0,0.26), -8px 0 10px rgba(0, 0, 0, 0.26)
        #card-one
            #intro-container
                width: 100%
                height: 250px
                margin: 0
                display: flex
                flex-wrap: nowrap
                img
                    height: 245px
                    min-height: 245px
                    width: 245px
                    min-width: 245px
                    border-radius: 50%
                    margin-left: 5px
                    margin-top: 5px
                    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.21)
                p
                    margin-top: 30px
                    margin-left: 10px
                    max-height: 200px
                    text-align: left
                    font: normal normal 20px 'PT Sans', sans-serif
                    mark
                        text-shadow: 0 2px 1px rgba(0, 0, 0, 0.24)
                        background-color: white
                        color: #666
            #gContainer
                height: 180px
                width: 300px
                margin-top: 0
                margin-left: 60%
                display: flex
                justify-content: center
                align-items: centerd
                position: relative
                .cog
                    transform-origin: 45px 45px
                    animation-name: rotate
                    animation-duration: 3s
                    animation-fill-mode: forwards
                    animation-timing-function: linear
                    animation-iteration-count: infinite
                    height: 90px
                    width: 90px
                    position: absolute
                    display: inline-block
                    margin: 0 0 0 0
                .cog-core
                    height: 30px
                    width: 30px
                    background-color: #444
                    border-radius: 50%
                    position: absolute
                    display: inline-block
                    z-index: 40
                    box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.1)
                .cog-hub
                    height: 60px
                    width: 60px
                    border-radius: 50%
                    background-color: #666
                    position: absolute
                    display: inline-block
                .tendral
                    height: 25px
                    width: 20px
                    position: absolute
                    display: inline-block
                    border-radius: 30% 30% 0 0
                    background-color: #666
                #gear1
                    animation-direction: reverse
                    top: 60px
                    left: 90px
                    #left-core
                        top: 30px
                        left: 30px
                    #left-hub
                        top: 15px
                        left: 15px
                    #g1t1
                        top: 0
                        left: 35px
                    #g1t2
                        top: 15px
                        left: 5px
                        transform: rotate(-50deg)
                    #g1t3
                        top: 50px
                        left: 5px
                        transform: rotate(-125deg)
                    #g1t4
                        top: 65px
                        left: 35px
                        transform: rotate(-175deg)
                    #g1t5
                        top: 50px
                        left: 65px
                        transform: rotate(130deg)
                    #g1t6
                        top: 15px
                        left: 65px
                        transform: rotate(50deg)
                #gear2
                    animation-direction: normal
                    top: 40px
                    left: 173px
                    #right-core
                        top: 30px
                        left: 30px
                    #right-hub
                        top: 15px
                        left: 15px
                    #g2t1
                        top: 0
                        left: 35px
                    #g2t2
                        top: 15px
                        left: 5px
                        transform: rotate(-50deg)
                    #g2t3
                        top: 50px
                        left: 5px
                        transform: rotate(-130deg)
                    #g2t4
                        top: 65px
                        left: 35px
                        transform: rotate(-180deg)
                    #g2t5
                        top: 50px
                        left: 65px
                        transform: rotate(130deg)
                    #g2t6
                        top: 15px
                        left: 65px
                        transform: rotate(50deg)
                #text
                    font: normal normal 100 20px helvetica, sans-serif
                    color: maroon
                    position: absolute
                    display: inline-block
                    top: 170px
                    left: 110px
            p:nth-last-of-type(1)
                margin: 10px 10px 10px 10px
                text-align: right
                font: normal normal 20px 'PT Sans', sans-serif
        #card-two
            button
                font: bold normal 28px courier, sans-serif
                padding: 12px 12px 12px 12px
                height: 52px
                border: none
                border-radius: 4px
                background-color: #ff4444
                box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.25)
                transition: all ease-in-out 0.5s
            button:hover
                background-color: #e8e8e8
                box-shadow: 0 10px 4px -5px rgba(0, 0, 0, 0.35)
            button#clicked
                animation-name: shrink-disappear
                animation-duration: 3s
                animation-fill-mode: forwards
                animation-delay: 300ms
                animation-timing-function: ease-in-out
                animation-iteration-count: 1
@keyframes slideLeft
    0%
        margin-left: 210%
        opacity: 0
    85%
        opacity: 0.7
    100%
        margin-left: 0%
        opacity: 1
@keyframes slideRight
    0%
        margin-left: 0%
        opacity: 1
    15%
        opacity: 0.3
    100%
        margin-left: 210%
        opacity: 0
@keyframes toBlack
    0%
        background-color: currentColor
    100%
        background-color: black
@keyframes shrink-disappear //under development
    90%
        transform: scaleX(20)
    100%
        transform: scaleY(0)
@keyframes rotate
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)
