doctype html
head
    meta(name='robots', content='index, follow, noarchive')
    title Code Sandbox
    link(href='style.css', rel='stylesheet')
body
    #gContainer
        #box-bg
        #gear1.cog
            .cog-core#left-core
            .cog-hub#left-hub
            .tendral#g1t1
            .tendral#g1t2
            .tendral#g1t3
            .tendral#g1t4
            .tendral#g1t5
            .tendral#g1t6
        #gear2.cog
            .cog-core#right-core
            .cog-hub#right-hub
            .tendral#g2t1
            .tendral#g2t2
            .tendral#g2t3
            .tendral#g2t4
            .tendral#g2t5
            .tendral#g2t6
        #text
            |textone & text2
    #button-container
        #ripple
    script(src='../Vendors/jquery-3.0.0.js')
    script(src='script.js', type='text/javascript')
