
doctype default
html
    head
        link(href="style.min.css", rel="stylesheet")
        title="Charles Stevens: Portfolio"
        script(src="../jquery-3.0.0.js")
        script(src="script.js")
    body
        .header-sect
            p#header-text|Chrales Stevens, Aspiring Programmer
        .main-sect
            .section-one.card
                .text-sect#one
                    |I've been working on several programming projects to develop my knowledge and to prove that I have such. The most notable being a derivative project from the requirements of a text adventure that is a real assignment by Boyd Trollinger at Butte Collage's CSCI programming class. This project is also the only one documented entirely on GitHub.
                .csnippet
                img(src="image.png", class="csnippet")
                button(id="jsportal", type="button", href="../Javabox/javabox.html") Goto Javascript
            .section-two
                .text-sect#two
